{% load styles %}
{% load getattribute %}
{% load addstr %}

<div class="table-responsive">
  <table class="table table-hover table-sm" width="100%" cellspacing="0">
    <thead>
      <tr class="d-flex">
        <th class="col-1"></th>
        <th class="col-3">ID</th>
        <th class="col-1">Tree</th>
        <th class="col-1">Branch</th>
        <th class="col-1-big">Start Time</th>
        <th class="col-1-big"></th>
        <th class="col-1">Valid</th>
        <th class="col-1">Builds</th>
        <th class="col-1">Tests</th>
      </tr>
    </thead>
    <tbody>
      {% for checkout in checkouts %}
        {% with url_name='views.kcidb.checkouts' id=checkout.iid %}
          <tr class="d-flex">

            <!-- Pipeline link + Checkout ID. -->
            <td class="col-1">
              {% for gitlab_job in checkout.gitlabjob_set.all %}
                <a href="{{ gitlab_job.pipeline.web_url }}" class="gitlab_icon" title="Go to pipeline"></a>
              {% endfor %}
              {% if checkout.reports.exists %}
              <i class="fas fa-envelope-open-text text-primary" title="Has reports"></i>
              {% endif %}
              {% if checkout.has_objects_with_issues %}
              <i class="fas fa-bug text-danger" title="Has issues associated"></i>
              {% endif %}
              {% if checkout.has_objects_missing_triage %}
              <i class="fas fa-fire-extinguisher text-danger" title="Has failures without issues associated"></i>
              {% endif %}
            </td>

            {% include 'tables/cell_clickable.html' with size='3' text=checkout.id|truncatechars:41 title=checkout.id %}
            {% include 'tables/cell_clickable.html' with size='1' text=checkout.tree.name %}
            {% include 'tables/cell_clickable.html' with size='1' text=checkout.git_repository_branch %}
            {% include 'tables/cell_clickable.html' with size='1-big' text=checkout.start_time %}

            <!-- to fill -->
            {% include 'tables/cell_clickable.html' with size='1-big' %}

            <!-- Checkout Valid cell -->
            {% with emoji=checkout.valid|get_style|getattribute:'icon'|safe %}
              {% with class_attr=checkout.valid|get_style|getattribute:'cell_with_text_color' extra_attr='align="center" data-toggle="tooltip" data-placement="top"' %}
                {% with title=checkout.valid|yesno:"Checkout is Valid, Checkout is Not Valid" %}
                  {% include 'tables/cell_clickable.html' with size='1' %}
                {% endwith %}
              {% endwith %}
            {% endwith %}

            <!-- Builds cell -->
            {% if not checkout.stats_builds_run_count %}
              {% include 'tables/cell_clickable.html' with size='1' %}
            {% else %}
              {% with emoji=checkout.stats_builds_passed|get_style|getattribute:'icon'|safe %}
                {% with class_attr=checkout.stats_builds_passed|get_style|getattribute:'cell_with_text_color' extra_attr='align="center" data-toggle="tooltip" data-placement="top"' %}
                  {% with title='Pass '|addstr:checkout.stats_builds_pass_count|addstr:', Fail '|addstr:checkout.stats_builds_fail_count %}
                    {% if checkout.stats_builds_passed %}
                      {% include 'tables/cell_clickable.html' with size='1' text=checkout.stats_builds_pass_count %}
                    {% else %}
                      {% include 'tables/cell_clickable.html' with size='1' text=checkout.stats_builds_fail_count %}
                    {% endif %}
                  {% endwith %}
                {% endwith %}
              {% endwith %}
            {% endif %}

            <!-- Tests cell -->
            {% if not checkout.stats_tests_run_count %}
              {% include 'tables/cell_clickable.html' with size='1' %}
            {% else %}
              {% with title='Pass '|addstr:checkout.stats_tests_pass_count|addstr:', Fail '|addstr:checkout.stats_tests_fail_count %}
                <td class="col-1 {{ checkout.stats_tests_passed|get_style|getattribute:'cell_with_text_color' }}" align="center" title="{{ title }}">
                  <a href="{% url url_name id %}" class="clickable-cell">
                    {% if checkout.stats_tests_passed %}
                      {{ checkout.stats_tests_pass_count }}
                    {% else %}
                      {{ checkout.stats_tests_fail_count }}
                    {% endif %}
                    {{ checkout.stats_tests_passed|get_style|getattribute:'icon'|safe }}
                    {% if checkout.has_targeted_tests %}
                      <i class="fas fa-bullseye text-success" title="Has targeted tests"></i>
                    {% endif %}
                    {% if checkout.stats_tests_errors %}
                      <i class="fas fa-fire-alt text-danger" title="Has tests with errors"></i>
                    {% endif %}
                  </a>
                </td>
              {% endwith %}
            {% endif %}
          </tr>
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>
</div>
