{% extends "base.html" %}
{% load addstr %}

{% block title %}
{{type|title}}
{% endblock %}

{% block script %}
<script src="/static/js/sorttable.js"></script>
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Confidence</li>
    <li class="breadcrumb-item active"><a href="{% url 'views.confidence' type|addstr:'s' %}">{{ type|addstr:'s'|capfirst }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      {% if type == 'host' %}
        {% include "link_beaker_host.html" %}
      {% else %}
        {{ item.name }}
      {% endif %}
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl-4 mb-2">
    <i class="fas fa-filter"></i>

    {% for result in results %}
    <a href="?result={{ result.label }}" aria-label="{{ result.label }}">
        {{ result.label }}
    </a>
    {% endfor %}

    {% if result_filter %}
    - Showing only: {{ result_filter }}
    <a href="/details/{{type}}/{{item.id}}" title="Clear filter"> x </a>
    {% endif %}

  </div>
</div>

<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#checkouts">Checkouts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#table">Results Summary by
    {% if type == 'test' %}
    Host
    {% elif type == 'host' %}
    Test
    {% endif %}
    </a>
  </li>
</ul>

<div class="tab-content">
  <div id="checkouts" class="tab-pane active">
    {% for run in runs %}
    <div class="card shadow mb-4">
      <div class="card-header py-3">

      {% with checkout=run.checkout %}
      <div class="row">
        <div class="col">
          <h5 class="m-0">Checkout
              <a href="{% url 'views.kcidb.checkouts' checkout.iid %}">{{ checkout.id }}</a>
          </h5>
       </div>
        <div class="col" align="right">
          {% include 'checkout_details_header.html' %}
       </div>
      </div>
      {% endwith %}

      </div>
      <div class="card-body">
          {% with test_jobs=run.tests %}
            {% if type == 'test' %}
            {% include 'tables/table_kcidb_test_details_by_test.html' %}
            {% elif type == 'host' %}
            {% include 'tables/table_kcidb_test_details_by_host.html' %}
            {% endif %}
          {% endwith %}
      </div>
    </div>
    {% endfor%}

    {% include 'paginator.html' with paginator=runs %}

  </div>
  <div id="table" class="tab-pane">
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-sm sortable" id="pipelinesTable" width="100%" cellspacing="0">
            <thead>
              <tr class="d-flex">
                {% if type == 'test' %}
                <th class="col-5">Host</th>
                {% elif type == 'host' %}
                <th class="col-5">Test</th>
                {% endif %}
                <th class="col-1">Total</th>
                {% for result in results %}
                <th class="col-1">{{ result.label }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% load getattribute %}
              {% for item in table %}
              <tr class="d-flex">
                <td class="col-5">
                  {% if type == 'test' %}
                    {% include "link_beaker_host.html" with type="tasks" %}
                  {% elif type == 'host' %}
                    {{ item.name }}
                  {% endif %}
                </td>
                <td class="col-1">{{ item.total_runs }}</td>
                {% for result in results %}
                <td class="col-1">{{ item|getattribute:result.label }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
