{% extends "base.html" %}

{% block title %}
Search
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Search</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

{% if not checkouts %}
<div class="alert alert-warning" role="alert">
  No results found.
</div>
{% else %}
<div class="card shadow mb-4">
  <div class="card-body">
    {% include 'tables/table_kcidb_checkouts.html' %}
  </div>
</div>

{% include 'paginator.html' %}
{% endif %}

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
