{% extends "base.html" %}

{% block title %}
403 Forbidden
{% endblock %}

{% block content %}
<div class="text-center">
    <div class="error mx-auto" data-text="403">403</div>
    <p class="lead text-gray-800 mb-5">Forbidden</p>
    <p class="text-gray-500 mb-0">Apparently you should not be here...</p>
    <a href="/">&larr; Back to Dashboard</a>
</div>
{% endblock %}
