<div class="collapse {% if filters %}show{% endif %}" id="collapseFilter">
  <div class="card card-body mb-2">
    <form action="#" method="GET">
      <div class="form-group">
        <label for="input_email">Contact Email address</label>
        <input class="form-control" name="filter_email" id="input_email" placeholder="name@redhat.com" value="{{ filters.filter_email }}">
      </div>
      <div class="form-group">
        <label for="input_gittree">Git Trees</label>
        <select multiple class="form-control" name="filter_gittrees" id="input_gittree">
          {% for tree in gittrees %}
            <option {% if tree.name in filters.filter_gittrees %}selected="selected"{% endif %}>{{ tree.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="text-right">
        {% if filters %}
        <a href="?" class="btn btn-warning" role="button">Clear</a>
        {% endif %}
        <button type="submit" class="btn btn-primary">Apply</button>
      </div>
    </form>
  </div>
</div>
