{% load styles %}
{% load getattribute %}

<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">
                <i class="fas fa-bug text-danger"></i>
                Related Issue
            </div>

            <!-- Button to remove all these tests and builds related to this issue. -->
            <form action={% url 'views.kcidb.issues' %} method="post" onsubmit="return confirmRemoveIssue();">
              {% csrf_token %}
              <input type="hidden" id="action" name="action" value="remove">
              <input type="hidden" id="issue_id" name="issue_id" value="{{ grouped_issue.issue.id }}">
              {% for occurrence in grouped_issue.checkouts %}
                <input type="hidden" id="checkout_iids" name="checkout_iids" value="{{ occurrence.kcidb_checkout.iid }}">
              {% endfor %}
              {% for occurrence in grouped_issue.tests %}
                <input type="hidden" id="test_iids" name="test_iids" value="{{ occurrence.kcidb_test.iid }}">
              {% endfor %}
              {% for occurrence in grouped_issue.builds %}
                <input type="hidden" id="build_iids" name="build_iids" value="{{ occurrence.kcidb_build.iid }}">
              {% endfor %}
              <input type="hidden" id="redirect_to" name="redirect_to" value="{{ request.get_full_path }}">
              <button type="submit" class="close">
                <span>&times;</span>
              </button>
            </form>

            <div class="h5 mb-1 font-weight-bold">
              <span class="badge badge-danger" style="background-color: {{ grouped_issue.issue.kind.color }}"
                    title="{{ grouped_issue.issue.kind.description }}">{{ grouped_issue.issue.kind.tag }}</span>
              <a href="{% url 'views.issue.get' grouped_issue.issue.id %}">
                  {{ grouped_issue.issue.description }}
              </a>
              {% if grouped_issue.issue.kind.kernel_code_related %}
              <span class="badge badge-secondary" title="Origin tree: {{ grouped_issue.issue.origin_tree.name|default:'unknown' }}">{{ grouped_issue.issue.origin_tree.name|default:'unknown' }}</span>
              {% endif %}
            </div>

            {% if grouped_issue.builds %}
              <label>Builds Affected</label>
              <div class="table-responsive">
                <table class="table table-hover table-sm" width="100%" cellspacing="0">
                  <tbody>
                    {% for occurrence in grouped_issue.builds %}
                      {% with url_name='views.kcidb.builds' id=occurrence.kcidb_build.iid %}
                        <tr class="d-flex border-left-{{ occurrence.kcidb_build.valid|get_style|getattribute:'color' }}  {{ occurrence.kcidb_build.valid|get_style|getattribute:'row' }}">
                          <td class="col-1">
                            {% include 'user_ball.html' with user=occurrence.created_by title='Tagged by' %}
                          </td>
                          {% include 'tables/cell_clickable.html' with size='2' text=occurrence.kcidb_build.id extra_attr='align="center"' %}
                          {% include 'tables/cell_clickable.html' with size='8' text=occurrence.kcidb_build.get_architecture_display %}

                          <!-- Button to remove this Build from the issue -->
                          <td class="col-1">
                            <form action={% url 'views.kcidb.issues' %} method="post" onsubmit="return confirmRemoveBuild();">
                              {% csrf_token %}
                              <input type="hidden" id="action" name="action" value="remove">
                              <input type="hidden" id="issue_id" name="issue_id" value="{{ grouped_issue.issue.id }}">
                              <input type="hidden" id="build_iids" name="build_iids" value="{{ occurrence.kcidb_build.iid }}">
                              <input type="hidden" id="redirect_to" name="redirect_to" value="{{ request.get_full_path }}">
                              <button type="submit" class="close">
                                <span>&times;</span>
                              </button>
                            </form>
                          </td>
                          <!-- End Button to remove this Build from the issue -->

                        </tr>
                      {% endwith %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif %}

            {% if grouped_issue.tests %}
              <label>Tests Affected</label>
              <div class="table-responsive">
                <table class="table table-hover table-sm" width="100%" cellspacing="0">
                  <tbody>
                    {% for occurrence in grouped_issue.tests %}
                      {% with url_name='views.kcidb.tests' id=occurrence.kcidb_test.iid %}
                        <tr class="d-flex border-left-{{ occurrence.kcidb_test.status|get_style|getattribute:'color' }} {{ occurrence.kcidb_test.status|get_style|getattribute:'row' }}">
                          <td class="col-1">
                            {% include 'user_ball.html' with user=occurrence.created_by title='Tagged by' %}
                          </td>
                          {% include 'tables/cell_clickable.html' with size='2' text=occurrence.kcidb_test.id extra_attr='align="center"' %}
                          {% include 'tables/cell_clickable.html' with size='7' text=occurrence.kcidb_test.test.name %}
                          <td class="col-1-big"  align="right">
                            <a href="{% url url_name id %}" class="clickable-cell">
                              <i title="Waived test (this result does not affect overall test result)"
                                 class="fas {% include 'waived_icon.html' with waived=occurrence.kcidb_test.waived %}"></i>
                              {{ occurrence.kcidb_test.status|get_style|getattribute:'icon'|safe }}
                            </a>
                          </td>

                          <!-- Button to remove this test from the issue -->
                          <td class="col-0-5">
                            <form action={% url 'views.kcidb.issues' %} method="post" onsubmit="return confirmRemoveTest();">
                              {% csrf_token %}
                              <input type="hidden" id="action" name="action" value="remove">
                              <input type="hidden" id="issue_id" name="issue_id" value="{{ grouped_issue.issue.id }}">
                              <input type="hidden" id="test_iids" name="test_iids" value="{{ occurrence.kcidb_test.iid }}">
                              <input type="hidden" id="redirect_to" name="redirect_to" value="{{ request.get_full_path }}">
                              <button type="submit" class="close">
                                <span>&times;</span>
                              </button>
                            </form>
                          </td>
                          <!-- End button to remove this test from the issue -->

                        </tr>
                      {% endwith %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
