{% load styles %}
{% load getattribute %}

<div class="modal fade" id="issueOccurrenceModal" tabindex="-1" role="dialog" aria-labelledby="issueOccurrenceModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="issueOccurrenceModalLabel">Associate Issue to {{ kind|title }}: {{ item.id }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action={% url 'views.kcidb.issues' %} method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="issueid">Issue Type</label>
            <input type="text"
                   id="issue_type_filter"
                   placeholder="Text to filter issue types in the dropdown below" />
            <select required="required" class="form-control" id="issue_id" name="issue_id">
              <option disabled selected>Select an option</option>
              {% for issue in issues %}
              <option value="{{ issue.id }}">{{ issue.kind.tag  }} | {{ issue.description }}</option>
              {% endfor %}
            </select>
            <div align="right">
              <a href="{% url 'views.issue.new_or_edit' %}?new=true&redirect_to={{ request.get_full_path }}%23issueoccurrence">Create New Issue</a>
            </div>
          </div>

          {% if checkouts_failed %}
          <div class="form-group">
            <label for="buildTable">Faulty Checkouts</label>
            <div class="table-responsive">
              <table class="table table-bordered" id="buildTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th></th>
                    <th>ID</th>
                  </tr>
                </thead>
                <tbody>
                  {% for checkout in checkouts_failed %}
                    <tr class="border-left-danger table-danger border-left-danger table-danger">
                      <td>
                        <input type="checkbox" value="{{ checkout.iid }}" name="checkout_iids">
                      </td>
                      <td>{{ checkout.id }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}

          {% if builds_failed %}
          <div class="form-group">
            <label for="buildTable">Faulty Builds</label>
            <div class="table-responsive">
              <table class="table table-bordered" id="buildTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Architecture</th>
                    <th>Valid</th>
                  </tr>
                </thead>
                <tbody>
                  {% for build in builds_failed %}
                    <tr class="border-left-danger table-danger border-left-danger table-danger">
                      <td>
                        <input type="checkbox" value="{{ build.iid }}" name="build_iids">
                      </td>
                      <td>{{ build.id }}</td>
                      <td>{{ build.get_architecture_display }}</td>
                      <td>{{ build.valid }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}

          {% if tests_failed %}
          <div class="form-group">
            <label for="testTable">Faulty Tests</label>
            <div class="table-responsive">
              <table class="table table-bordered" id="testTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" id="issueOccurrenceModalToggleAll" onclick="newIssueOccurrenceToggleAllClick()" checked>
                    </th>
                    <th>ID</th>
                    <th>Architecture</th>
                    <th>Name</th>
                    <th>Result</th>
                  </tr>
                </thead>
                <tbody>
                  {% for test in tests_failed %}
                    <tr class="border-left-{{ test.status|get_style|getattribute:'color' }} {{ test.status|get_style|getattribute:'row' }}">
                      <td>
                        <input type="checkbox" value="{{ test.iid }}" name="test_iids"
                          {% if not test.issues.exists and test.get_status_display == 'FAIL' %}
                          checked class='issueOccurrenceModalPreselected'
                          {% endif %}>
                      </td>
                      <td>{{ test.id }}</td>
                      <td>{{ test.build.get_architecture_display }}</td>
                      <td>{{ test.test.name }}</td>
                      <td align="center">
                          <i title="Waived test (this result does not affect overall test result)"
                             class="fas {% include 'waived_icon.html' with waived=test.waived %}"></i>
                          {{ test.status|get_style|getattribute:'icon'|safe }}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
          <input type="hidden" id="redirect_to" name="redirect_to" value="{{ request.get_full_path }}">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/static/js/custom.js"></script>
<script>
  function newIssueOccurrenceToggleAllClick() {
      let toggle = document.getElementById("issueOccurrenceModalToggleAll");
      for (let box of document.querySelectorAll('.issueOccurrenceModalPreselected')) {
          box.checked = toggle.checked;
      }
  }

  const issueTypes = [
      {% for issue in issues %}
      {
          id: {{ issue.id }},
          tag: "{{ issue.kind.tag  }}",
          description: "{{ issue.description }}"
      },
      {% endfor %}
  ];

  document.getElementById('issue_type_filter').addEventListener('input', function(e) {
      filterDropdown(e.target.value, 'issue_id', issueTypes);
  });
</script>
