<!-- FontAwesome icons -->
<link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      rel="stylesheet"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous">
<!-- Custom fonts for this template -->
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
      integrity="sha384-MGHh0GA39gjogQO5G/x6FYqmB3hs7nnX0VM2mXfLv54mvIJPHju/Mpm8rEF5jnlU"
      crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for the datawarehouse -->
<link href="/static/css/custom.css" rel="stylesheet">

<!-- EMOJIS \o/ -->
<link href="https://emoji-css.afeld.me/emoji.css"
      rel="stylesheet"
      integrity="sha384-BNYxyYfvvmVpO2r4OU2lMGoMMRUHwy6bLIw5d3i0xRaHt3wl0tzD28SdcI21lVWw"
      crossorigin="anonymous">
