{% extends "base_double_card.html" %}

{% block title %}
User Settings
{% endblock %}

{% block card_one %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">My Account</h1>
</div>

<form method="POST" action="{% url 'account.user.settings' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">Full Name</label>
    <input type="text" class="form-control" id="name" name="name" value="{{ user.first_name }}"
     required {% if user.samluser %}disabled{% endif %}>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-4">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}"
         required {% if user.samluser %}disabled{% endif %}>
      </div>
      <div class="col-8">
        <label for="email_address">Email Address</label>
        <input type="email" class="form-control" id="email_address" value="{{ user.email }}" disabled>
      </div>
    </div>
  </div>

  {% if error %}
  <div class="alert alert-danger" role="alert">
      {{ error }}
  </div>
  {% endif %}

  {% if not user.samluser %}
  <div class="col" align="right">
    <input type="submit" class="btn btn-success" value="Save">
  </div>
  {% else %}
  <div class="alert alert-info" role="alert">
    This account is managed by the SAML2 integration.
  </div>
  {% endif %}
</form>

<hr>

<form>
  {% if not user.samluser %}
  <input type="submit" class="btn btn-block btn-secondary" value="Change Password" formaction="{% url 'password_change' %}">
  {% endif %}
  <input type="submit" class="btn btn-block btn-danger" value="Delete Account" formaction="{% url 'account.user.delete' %}">
</form>

{% endblock %}

{% block card_two %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-1">My Subscriptions</h1>
  <h1 class="h6 text-gray-900 mb-4">
    Customize email notifications
  </h1>
</div>

<form method="POST" action="{% url 'account.user.subscriptions' %}">
  {% csrf_token %}
  <div class="row">
    <div class="col-lg-10">
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="issue_regression" id="issue_regression" name="subscriptions"
                 {% if user.subscriptions.issue_regression %}checked="checked"{% endif %}>
          <label class="form-check-label" for="issue_regression">
            Issue Regressions:
          </label>
          Get notifications if any regression is detected
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <select id="issue_regression_visibility" name="issue_regression_visibility" class="form-control" data-role="select-dropdown">
            <option {% if user.subscriptions.issue_regression_visibility == 'cc' %}selected="selected"{% endif %} value="cc">CC</option>
            <option {% if user.subscriptions.issue_regression_visibility == 'bcc' %}selected="selected"{% endif %} value="bcc">BCC</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col" align="right">
    <input type="submit" class="btn btn-success" value="Save">
  </div>
</form>

{% endblock %}
