{% extends "base.html" %}
{% load artifacts %}
{% load getattribute %}
{% load styles %}
{% load timetag %}

{% block title %}
Build
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'views.kcidb.checkouts' %}">Checkouts</a></li>
    <li class="breadcrumb-item"><a href="{% url 'views.kcidb.checkouts' build.checkout.iid %}">Checkout</a></li>
    <li class="breadcrumb-item active" aria-current="page">Build</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

{% with kind='checkout' item=checkout %}
{% include 'modal_new_issue_occurrence.html' %}
{% endwith %}

<!-- Start dropdown menu -->
<div class="col-xl-4 col-md-6 mb-2">
  <div class="row">
    <span class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="{% url 'kcidb.builds.get' build.iid %}" class="dropdown-item">View in API</a>
        {% if perms.datawarehouse.change_kcidbbuild or perms.datawarehouse.change_kcidbtest %}
        <a class="dropdown-item" data-toggle="modal" data-target="#issueOccurrenceModal" href="#">Associate Issue</a>
        {% endif %}
      </div>
    </span>
  </div>
</div>
<!-- End dropdown menu -->

<div class="row">
  <div class="col-xl-6 col-md-6 mb-2">
    <div class="card border-left-{{ build.valid|get_style|getattribute:'color' }} shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Build Status</div>
            <div class="h5 mb-0 font-weight-bold text-{{ build.valid|get_style|getattribute:'color' }}">{{ build.valid|yesno:'Passed,Failed' }}</div>
          </div>
          <div class="col-auto">
            {{ build.valid|get_style|getattribute:'icon_big'|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if build.stats_tests_run_count %}
  <div class="col-xl-6 col-md-6 mb-2">
    <div class="card border-left-{{ build.stats_tests_passed|get_style|getattribute:'color' }} shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Test Status</div>
            <div class="h5 mb-0 font-weight-bold text-{{ build.stats_tests_passed|get_style|getattribute:'color' }}">{{ build.stats_tests_passed|yesno:'Passed,Failed' }}</div>
          </div>
          <div class="col-auto">
            {{ build.stats_tests_passed|get_style|getattribute:'icon_big'|safe }}
            {% if build.has_tests_errors %}
              <i class="fas fa-2x fa-fire-alt text-danger" title="Has tests with errors"></i>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card">
      <div class="card-header border-left-{{ build.valid|get_style|getattribute:'color' }}">
        <div class="row">
          <div class="col">
            <label>Build ID: </label>
            {{ build.id }}
          </div>
          <div class="col" align="right">
            {% for gitlab_job in build.gitlabjob_set.all %}
              {% with pipeline=gitlab_job.pipeline %}
                {% include 'link_gitlab_pipeline.html' %}
                {% include 'link_gitlab_job.html' %}
              {% endwith %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <label>Valid:</label>
            <span class="text-{{ build.valid|get_style|getattribute:'color' }}">{{ build.valid|yesno|capfirst }}</span>
            <br/>
          </div>

          <div class="col-6">
            <label>Origin:</label> {{ build.origin|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Comment:</label> {{ build.comment|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Start Time:</label> {{ build.start_time|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Duration:</label> {{ build.duration|default:''|timetag }}
            <br/>
          </div>

          <div class="col-6">
            <label>Architecture:</label> {{ build.get_architecture_display|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Compiler:</label> {{ build.compiler.name|default:'' }}
            <br/>
          </div>

          <div class="col-12">
            <label>Command:</label> {{ build.command|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Config Name:</label> {{ build.config_name|default:'' }}
            <br/>
          </div>

          <div class="col-12">
            <label>Config URL:</label>
            <a href="{{ build.config_url|default:'' }}">{{ build.config_url|default:'' }}</a>
            <br/>
          </div>

          <div class="col-12">
            <label>Log URL:</label>
            <a href="{{ build.log.url|default:'' }}">{{ build.log.url|default:'' }}</a>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Display all build issues. -->
{% for grouped_issue in grouped_issues %}
  {% include 'card_issue_occurrence.html' %}
{% endfor %}

{% if build.input_files.exists %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
      <div class="card-header py-3">
        Input Files
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm" width="100%" cellspacing="0">
            <tbody>
              {% for file in build.input_files.all %}
                <tr class="d-flex">
                  {% include 'tables/cell_clickable.html' with size='12' text=file.url url=file.url %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if build.output_files.exists %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
      <div class="card-header py-3">
        Output Files
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm" width="100%" cellspacing="0">
            <tbody>
              {% for file in build.output_files.all %}
                <tr class="d-flex">
                  {% include 'tables/cell_clickable.html' with size='12' text=file.url url=file.url %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
  {% if build.start_time|older_than_artifacts_default_expiry %}
    <div class="alert alert-warning" role="alert">
      <i class="fas fa-snowplow"></i>
      <strong>Heads up!</strong> This build is pretty old, artifacts may be deleted already.
    </div>
  {% endif %}
{% endif %}

{% if tests.exists %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
      <div class="card-header py-3">
        List of Tests
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm" width="100%" cellspacing="0">
            <tbody>
              {% for test in tests %}
                {% with url_name='views.kcidb.tests' id=test.iid %}
                  <tr class="d-flex border-left-{{ test.status|get_style|getattribute:'color' }} {{ test.status|get_style|getattribute:'row' }}">
                    {% include 'tables/cell_clickable.html' with size='2' text=test.id extra_attr='align="center"' %}
                    {% include 'tables/cell_clickable.html' with size='9' text=test.test.name %}
                    <td class="col-1"  align="center">
                      <a href="{% url url_name id %}" class="clickable-cell">
                        <i title="Waived test (this result does not affect overall test result)"
                           class="fas {% include 'waived_icon.html' with waived=test.waived %}"></i>
                        {{ test.status|get_style|getattribute:'icon'|safe }}
                        {% if test.targeted %}
                          <i class="fas fa-bullseye text-success" title='Is a targeted test.'></i>
                        {% endif %}
                      </a>
                    </td>
                  </tr>
                {% endwith %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<script>
  var url = window.location.href;
  if (url.indexOf('#issueoccurrence') != -1) {
      $('#issueOccurrenceModal').modal('show');
  }
</script>
{% endblock %}
