{% extends "base.html" %}
{% load styles %}
{% load getattribute %}

{% block title %}
Checkout
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'views.kcidb.checkouts' %}">Checkouts</a></li>
    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

{% with kind='checkout' item=checkout %}
{% include 'modal_new_issue_occurrence.html' %}
{% endwith %}

<!-- Start dropdown menu -->
<div class="col-xl-4 col-md-6 mb-2">
  <div class="row">
    <span class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="{% url 'kcidb.checkouts.get' checkout.iid %}" class="dropdown-item">View in API</a>
        {% if perms.datawarehouse.change_kcidbcheckout or perms.datawarehouse.change_kcidbbuild or perms.datawarehouse.change_kcidbtest %}
        <a class="dropdown-item" data-toggle="modal" data-target="#issueOccurrenceModal" href="#">Associate Issue</a>
        {% endif %}
      </div>
    </span>
  </div>
</div>
<!-- End dropdown menu -->

<div class="row">
  <div class="col-xl-4 col-md-4 mb-2">
    <div class="card border-left-{{ checkout.valid|get_style|getattribute:'color' }} shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Checkout Status</div>
            <div class="h5 mb-0 font-weight-bold text-{{ checkout.valid|get_style|getattribute:'color' }}">{{ checkout.valid|yesno:'Valid,Not Valid' }}</div>
          </div>
          <div class="col-auto">
            {{ checkout.valid|get_style|getattribute:'icon_big'|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if checkout.stats_builds_run_count %}
  <div class="col-xl-4 col-md-4 mb-2">
    <div class="card border-left-{{ checkout.stats_builds_passed|get_style|getattribute:'color' }} shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Build Status</div>
            <div class="h5 mb-0 font-weight-bold text-{{ checkout.stats_builds_passed|get_style|getattribute:'color' }}">{{ checkout.stats_builds_passed|yesno:'Passed,Failed' }}</div>
          </div>
          <div class="col-auto">
            {{ checkout.stats_builds_passed|get_style|getattribute:'icon_big'|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if checkout.stats_tests_run_count %}
  <div class="col-xl-4 col-md-4 mb-2">
    <div class="card border-left-{{ checkout.stats_tests_passed|get_style|getattribute:'color' }} shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Test Status</div>
            <div class="h5 mb-0 font-weight-bold text-{{ checkout.stats_tests_passed|get_style|getattribute:'color' }}">{{ checkout.stats_tests_passed|yesno:'Passed,Failed' }}</div>
          </div>
          <div class="col-auto">
            {{ checkout.stats_tests_passed|get_style|getattribute:'icon_big'|safe }}
            {% if checkout.has_targeted_tests %}
              <i class="fas fa-2x fa-bullseye text-success" title='Has targeted tests'></i>
            {% endif %}
            {% if checkout.stats_tests_errors %}
              <i class="fas fa-2x fa-fire-alt text-danger" title="Has tests with errors"></i>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card">
      <div class="card-header border-left-{{ checkout.valid|get_style|getattribute:'color' }}">
        <div class="row">
          <div class="col">
            <label>Checkout ID: </label>
            {{ checkout.id }}
          </div>
          <div class="col" align="right">
            {% for gitlab_job in checkout.gitlabjob_set.all %}
              {% with pipeline=gitlab_job.pipeline %}
                {% include 'link_gitlab_pipeline.html' %}
                {% include 'link_gitlab_job.html' %}
              {% endwith %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <label>Origin:</label> {{ checkout.origin|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Tree:</label> {{ checkout.tree|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Repository URL:</label> {{ checkout.git_repository_url|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Repository Branch:</label> {{ checkout.git_repository_branch|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Commit Hash:</label> {{ checkout.git_commit_hash|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Commit Name:</label> {{ checkout.git_commit_name|default:'' }}
            <br/>
          </div>

          {% if checkout.patchset_hash %}
          <div class="col-6">
            <label>Patchset Hash:</label> {{ checkout.patchset_hash|default:'' }}
            <br/>
          </div>
          {% endif %}

          <div class="col-6">
            <label>Message ID:</label> {{ checkout.message_id|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Description:</label> {{ checkout.description|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Start Time:</label> {{ checkout.start_time|default:'' }}
            <br/>
          </div>

          <div class="col-12">
            <label>Log URL:</label>
            <a href="{{ checkout.log.url|default:'' }}">{{ checkout.log.url|default:'' }}</a>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% for report in checkout.reports.all %}
  {% include 'card_report.html' %}
{% endfor %}

{% if checkout.has_objects_missing_triage %}
{% with object=checkout %}
{% include 'card_kcidb_untriaged.html' %}
{% endwith %}
{% endif %}

<!-- Display all checkout issues. -->
{% for grouped_issue in grouped_issues %}
  {% include 'card_issue_occurrence.html' %}
{% endfor %}

{% if checkout.patches.exists %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
      <div class="card-header py-3">
        List of Patches
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm" width="100%" cellspacing="0">
            <tbody>
              {% for patch in checkout.patches.all %}
                  <tr class="d-flex">
                    {% include 'tables/cell_clickable.html' with size='6' text=patch.subject url=patch.url %}
                    {% include 'tables/cell_clickable.html' with size='6' text=patch.url url=patch.url %}
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if builds.exists %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
      <div class="card-header py-3">
        List of Builds
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm" width="100%" cellspacing="0">
            <tbody>
              {% for build in builds %}
                {% with url_name='views.kcidb.builds' id=build.iid %}
                  <tr class="d-flex border-left-{{ build.all_passed|get_style|getattribute:'color' }}  {{ build.all_passed|get_style|getattribute:'row' }}">
                    {% include 'tables/cell_clickable.html' with size='2' text=build.id extra_attr='align="center"' %}
                    {% include 'tables/cell_clickable.html' with size='2' text=build.get_architecture_display %}
                    {% include 'tables/cell_clickable.html' with size='6' text=build.compiler %}
                    {% include 'tables/cell_clickable.html' with size='1' text='Build: ' emoji=build.valid|get_style|getattribute:'icon'|safe %}

                    {% if build.kcidbtest_set.exists %}
                      <td class="col-1">
                          <a href="{% url url_name id %}" class="clickable-cell">
                              Tests:
                              {{ build.tests_passed|get_style|getattribute:'icon'|safe }}
                              {% if build.has_targeted_tests %}
                                <i class="fas fa-bullseye text-success" title="Has targeted tests"></i>
                              {% endif %}
                              {% if build.has_tests_errors %}
                                <i class="fas fa-fire-alt text-danger" title="Has tests with errors"></i>
                              {% endif %}
                          </a>
                      </td>
                    {% else %}
                      {% include 'tables/cell_clickable.html' with size='1' %}
                    {% endif %}
                  </tr>
                {% endwith %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<script>
  var url = window.location.href;
  if (url.indexOf('#issueoccurrence') != -1) {
      $('#issueOccurrenceModal').modal('show');
  }
</script>
{% endblock %}
