{% extends "base.html" %}

{% block title %}
KCIDB Data
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Checkouts</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

<div class="col-xl-4 col-md-6 mb-2">
  <div class="row">
    <span class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle mr-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" data-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseFilter">
            Filter
        </a>
      </div>
    </span>
  </div>
</div>

{% include 'card_checkouts_filter.html' %}

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Latest Checkouts</h6>
  </div>
  <div class="card-body">
    {% include 'tables/table_kcidb_checkouts.html' %}
  </div>
</div>

{% include 'paginator.html' %}

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
